<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% @users.each do |user| %>
  <div class="mx-3 my-5">
    <%= simple_form_for [user, @chatroom] do |f| %>
      <%= f.submit "Talk to #{user.nickname}" %>
    <% end %> 
  </div>
<% end %>
